<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home ToDo APP</title>
</head>
<body>
<h1>Todos</h1>
<ul>
    {% for todo in todos %}
    <li>
        <input type="checkbox" name="done" {% if todo['done'] %}checked{% endif %} onchange="check({{ loop.index0 }})">
        {{ todo['task'] }}
        <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
        <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>

    </li>
    {% endfor %}
</ul>
<form action="{{ url_for('add') }}" method="POST">
    <input type="text" name="todo">
    <button type="submit">Add Todo</button>
</form>
</body>
</html>